* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #B0C4DE;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(57, 57, 62);
    height: 140px;
    padding-right: 15px;
}

header h1 {
    font-size: 7vh;
    padding-left: 2%;
    padding-right: 6px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: #228B22;
}

header nav,
header nav a {
    font-size: 3vh;
    font-weight: 600;
    min-width: auto;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

header nav a {
    margin-left: 10px;
    color: #228B22;
}

header nav a:hover {
    color: #1C7A1C;
}

.subtitleBox {
    background-image: url(https://4kwallpapers.com/images/walls/thumbs_2t/12523.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid black;
    height: 115px;
    max-width: auto;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.subtitleBox h2 {
    margin: 20px;
    background-color: #228b22;
    background: solid;
    font-size: 45px;
}

main {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.container {
    justify-content: center;
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.aboutText {
    font-size: 25px;
    font-family: sans-serif;
    white-space: normal;
}

section h3 {
    flex: 0 0 20%;
    border-right: 3px solid gray;
    font-size: 5vh;
    width: auto;
    text-align: center;
}

section div {
    flex: 0 0 77%;
}

.subContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    filter: brightness(75%);
    border: 5px solid #228B22;
    min-height: 200px;
    max-height: 200px;
    flex-basis: calc(50% - 1em);
    margin: 6px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px grey;
}

.first {
    min-height: 400px;
    flex-basis: 100%;
}

.item div,
.first div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    background-color: #228B22;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 3px;
    font-family: sans-serif;
    font-weight: 900;
    border-radius: 1px;
    margin-top: 10px;
}

.first div {
    margin-top: 250px;
    padding-top: 4px;
}

.subContainer .first,
.subContainer .second,
.subContainer .third,
.subContainer .fourth,
.subContainer .fifth {
    background-position: center;
    background-size: cover;
}

.subContainer .first:hover,
.subContainer .second:hover,
.subContainer .third:hover,
.subContainer .fourth:hover,
.subContainer .fifth:hover {
    filter: brightness(100%);
}

/* had to do multiple container files for different images  */
.subContainer .first {
    background-image: url(https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1513&q=80);
    background-position: bottom;
    background-size: cover;
}

.subContainer .first:hover {
    filter: brightness(100%);
    background-size: 102%;
}

.subContainer .second {
    background-image: url(https://www.matrixvisual.com/wp-content/uploads/2016/07/LED-Wall-Benefits.png);
    background-size: 120%;
    background-position: center;
    /* background-size: cover; */
}

.subContainer .second:hover {
    filter: brightness(100%);
    background-size: 125%;
    background-position: center;
    background-size: cover;
}

.subContainer .third {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQ4VYSsa0LC6nxUKWQPRlDfkJhd9SENdRuHA&usqp=CAU);
    background-position: center;
    background-size: cover;
}

.subContainer .third:hover {
    filter: brightness(100%);
    background-size: 105%;
}

.subContainer .fourth {
    background-image: url(https://c1.wallpaperflare.com/preview/792/591/754/puzzle-last-particles-piece-demarcation.jpg);
    background-position: center;
    background-size: cover;
    background-size: 120%;
}

.subContainer .fourth:hover {
    filter: brightness(100%);
    background-size: 125%;
}

.subContainer .fifth {
    background-image: url(https://images6.alphacoders.com/426/426414.jpg);
    background-position: center;
    background-size: cover;
}

.subContainer .fifth:hover {
    filter: brightness(100%);
    background-size: 105%;
}


.container nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 3%;
    justify-content: space-between;
    font-size: 3vh;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    font-weight: 900;
    text-decoration: none;
    padding-top: 15px;
}

.container nav a {
    text-decoration: none;
    color: #228B22;
}

section nav a:hover {
    color: #1C7A1C;
}

@media screen and (min-width: 414px) and (max-width: 896px) {
    header {
        width: 100%;
        height: 180px;
    }
    
    header h1 {
        background-color: transparent; 
        font-size: 7vh;
        font-family: sans-serif;
        text-align: center;
    }
    
    header nav {
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
    }
    
    .subtitleBox {
        height: 110px;
        width: 100%;
    }
    
    .subtitleBox h2 {
        display: none;
    }
    
    .container h3,
    .aboutText {
        font-family: sans-serif;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    
    .subContainer {
        margin-left: 40px;
    }
    
    section h3 {
        border: none;
        font-family: sans-serif;
        font-size: 40px;
        flex: none;
    }
    
    .first {
        min-height: 230px;
        max-height: 220px;
    }
    
    .item {
        flex-basis: 100%;
    }
    
    .subContainer .second {
        background-size: cover;
        background-position: center;
    }
    
    nav a {
        font-size: 25px;
    }

    section.container:last-child {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    section.container:last-child nav {
        display: flex;
        flex-direction: column;
    }
} 


